li,
a {
  text-decoration: none;
  display: inline;
  padding: 20px;
  cursor: pointer;
  color: rgb(97, 208, 223);
  text-transform: uppercase;
}
a:hover {
  color: rgb(29, 109, 249);
}
.navi {
  border: 2px solid green;
  background-color: rgb(125, 173, 135);
  margin: 0;
}
