li,
a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: rgb(97, 208, 223);
  text-transform: uppercase;
}
a:hover {
  color: rgb(29, 109, 249);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 120px;
}
h3 {
  text-align: center;
  text-transform: uppercase;
}
.img {
  opacity: 0.35;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
img {
  opacity: 0.6;
  position: relative;
}
/* .seen {
  width: 100%;
  height: 100vh;
  background-image: url(screen.jpg);

  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  opacity: 9;
  position: relative;
} */
/* img::before {
  opacity: 0.35;
} */
.front {
  display: absolute;
  font-weight: 900;
  align-items: center;
}
.front header {
  position: absolute;
  top: 0px;
  padding-left: 60%;
}

image {
  background: url(screen.jpg) no-repeat;
  width: 1517px;
  height: 460px;
}
/* button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: rgb(220, 53, 53);
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
} */
/* .card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(images.jpg);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
} */
/* in html class= card card1 */
.card1 {
  background-image: url(images.jpg);
}
.card1 {
  background-image: url(images.jpg);
}
.card1 {
  background-image: url(images.jpg);
}
.card1 {
  background-image: url(images.jpg);
}
.card:hover {
  transform: translateY(-10px);
}
h5 {
  color: antiquewhite;
  text-shadow: 0 0 5px;
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

/* .container {
  width: 100%;
  height: 100vh;
  background-image: url(screen.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
} */
/* nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: aqua;
  font-size: 13px;
} */
