* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}
.site {
  position: relative;
}

.tex {
  position: absolute;
  top: 5%;
  color: rgb(97, 164, 144);
  padding: 0em;
  text-align: right;
}

.tex h1 {
  font-size: 152px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 10px;
}
.tex a {
  font-weight: 900;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(10, 10, 247);
  padding: 250px;
}
h4 {
  font-size: 100px;
}

footer,
p {
  font-size: 10px;
  font-family: sans-serif;
}
section h2 {
  color: goldenrod;
  text-align: center;
}
.row {
  display: flex;
  font-weight: 500;
  font-size: large;
}
.row p {
  font-size: medium;
  text-transform: uppercase;
}
.row a {
  text-decoration: none;
  text-align: center;
  color: rgb(36, 178, 67);
}

#div1 {
  padding: 100px;
}
#div2 {
  padding: 100px;
}
#div3 {
  padding: 100px;
  margin: 10px;
}
.sign-up {
  width: 500px;
  height: 500px;
  /* background-color: aqua; */
  margin-left: 150px;
  border-radius: 1px solid red;
}
.sign-up h3 {
  padding: 15px;
  text-align: center;
}
.sign-up p {
  text-align: center;
}
.sign-in {
  width: 500px;
  height: 300px;
  margin: auto;
  border-radius: 1px solid red;
  margin-right: 250px;
  /* background-color: red; */
}
.sign-in h3 {
  padding: 15px;
  text-align: center;
}
.sign-in p {
  text-align: center;
}
form {
  width: 150px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 2px;
  font-size: 18px;
}
form input {
  width: 300px;
  padding: 5px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
}

/* fieldset {
  border: 1px solid #aaa;
  margin: 1em 0;
}
legend {
  font-size: 75%;
  text-transform: uppercase;
  color: #aaa;
}
fieldset div {
  margin-bottom: 0.5em;
} */
#div1 p {
  font-size: medium;
  text-transform: uppercase;
}
#div2 p {
  font-size: medium;
  text-transform: uppercase;
}
#div3 p {
  font-size: medium;
  text-transform: uppercase;
}
footer,
p {
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: medium;
  color: rgb(254, 251, 252);
  text-decoration: none;
  list-style: none;
}
